.attribution {
  font-size: 11px;
  background-color: beige;
  margin-top: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 12px;
  border-radius: 10px;
  width: 16rem;
}
main {
  margin: auto;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
h3 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 1rem;
}
p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 1rem;
  text-align: center;
}
img {
  border-radius: 10px;
  width: 100%;
}
